/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;

  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 150px;
  width: 200px;
  border-radius: 80%;
}
.card .img img {
  width: 300px;
  min-height: 300px;
  line-height:300px;
  border-radius: 8%;
  object-fit: cover;
  border: 4px solid #1b04c8;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
    scroll-behavior: smooth;
}
 h3:hover{
    font-size:30px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-size: cover;
    background: #eee;
    height: auto;
    background-image:url('images/KM74.gif');
    color:#f4f4f4;
    
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}
ul{
    list-style-type: none;
}
ul.navbar {
    list-style-type: none;
    margin: auto;
    padding: auto;
    background-color: #333;
    overflow: hidden;
    position:sticky;
  }

  li.navitem {
    float: left;
  }

  li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li.navitem a:hover {
    background-color: #555;
    font-size: larger;
  }
h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}
h2:hover{
  color:rgb(163, 0, 62);
  font-size:70px;
    
}
img.twinkle{
    width:25px;
}

img.n {
    display: block;
    width: 100%;
    max-height:300px;

}
img:hover{
    background-size:300px;
}

main {
    max-width: 900px;
    margin: auto;
    
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1)
}

#landing {
    background: #fff;
}


#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

#landing-image {
    background-image: url('images/bigstock-204415228-1.jpg');
    background-position: center;
    background-size:100%;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
    width:100%;
    

}

.btn {
    padding: 0.5rem 2rem;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#header {
  
    text-align: center;
    background: #333;
    color: #fff;
    width:100%;
    float:right;
}

#header h2 {
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}
iframe{
    width:100%;
    min-height:500px;

}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #f8f6f6;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

footer p a {
    text-decoration: none;
    color: red;
}

/*Screen Sizes 500px +*/

@media(min-width: 31.25rem) {
    #landing {
        display: flex;
        height: 100%;
    }

    #landing-text {
        height: 100vh;
    }

    #landing-image {
        height: 100vh;
    }
}

/*Screen Sizes 700px +*/

@media(min-width: 43.75rem) {
    .btn {
        padding: 1rem 3rem;
    }
}
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (for responsive scaling) */
  }

  /* Style for the embedded iframe */
  .embedded-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
